
:root {
  font-size: 10px;
/*--------------------------------------------------------------
# blue
--------------------------------------------------------------*/
  --primary: #3DB2FF;




  /*--------------------------------------------------------------
# cream
--------------------------------------------------------------*/
  /* --primary: #FFBB3A; */



  /*--------------------------------------------------------------
# green
--------------------------------------------------------------*/
  /* --primary: #6ECB63; */




  /*--------------------------------------------------------------
# red
--------------------------------------------------------------*/

  /* --primary: #FF2442; */


  
}

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;

}

a{
    text-decoration: none;
    color: inherit;
}


.wrap{
    width: 80%;
    text-align: center;
    /* background-color: #F8C25C; */
}
.section-title{
    font-size: 5rem;
    margin-bottom: 5rem;
}




.section-title span{
    color: var(--primary);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  color: #353739;

    
}
.services p{
    font-size: 1.4rem;
    /* margin-top: 5rem; */
    line-height: 2.5rem;
}
.services-items{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 6rem;
}




@media screen and (max-width: 800px) {
    .services-items{
    grid-template-columns: auto auto;

    }
  }

  @media screen and (max-width: 600px) {
    .services-items{
    grid-template-columns: auto;

    }
  }
  
.service{
    background-position: center;
    background-size: cover;
    height: 100%;
}
.services .icon-box {
    text-align: center;
    padding: 6rem 2rem;
    /* width: initial; */
    /* margin: 2REM; */
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #3db1ff6f;
    color: #fff;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 6.4rem;
    height: 6.4rem;
    background: var(--primary);
    transition: all .3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 3.2rem;
    margin-top: 1rem;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #3db1ff9a;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }
  
  .services .icon-box h4 a {
    color: #ffff;
    
  }
  
  .services .icon-box p {
    /* line-height: 24px; */
    font-size: 1.6rem;
    margin-bottom: 0;
    color: #fff;
  }
  
  .services .icon-box:hover {
    background: var(--primary);
    border-color: var(--primary);
    padding: 5rem 2rem 7rem 2rem;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: var(--primary);
  }
  
  .services .icon-box:hover .icon::before {
    background: #64c1ff;
  }
  
  .services .icon-box:hover h4 a, .services .icon-box:hover p {
    color: #fff;
  }


  .service-btn {
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: 2rem;
  }
.service-btn:hover{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: var(--primary);
    border: 2px solid #fff;

}
.service-btn:focus {
    /* border: 2px #fff solid; */
  
    transform: scale(0.95);
  }


  
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 5rem;
    text-align: left;
  color: #353739;

}

.why-us p{
    font-size: 2rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-weight: 300;
    /* color: #aaaaaa; */
}

.why-us p span{
    font-weight: 500;
    color: var(--primary);
}

@media screen and (max-width: 800px) {
    .why-us-items{
    grid-template-columns: auto auto;

    }
  }

  @media screen and (max-width: 400px) {
    .why-us-items{
    grid-template-columns: auto;

    }
  }
  
.why-us {
    padding-top: 1rem;
  }
  
  .why-us .box {
    padding: 3rem 3rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }
  
  .why-us .box span {
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary);
  }
  
  .why-us .box h4 {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0;
    margin: 2rem 0;
    color: #353739;
  }
  
  .why-us .box p {
    /* color: #aaaaaa; */
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: var(--primary);
    padding: 2rem 3rem 3.5rem 3rem;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
    color: #fff;
  }



  /*--------------------------------------------------------------
# stats and warning
--------------------------------------------------------------*/
.safety{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  color: #353739;

}
.safety-wrap{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* background-color: #F8C25C; */
}

  
.sops{
    width: 65%;
    text-align: left;
}
.sops-title{
    font-size: 3rem;
}
.sops-title span{
    color: var(--primary);
}

.sops .sops-notes{
    /* width: 70%;
    text-align: left; */
    font-size: 2rem;
    /* color: #aaaaaa; */
    margin-top: 2rem;
    font-weight: 300;
}

.sops-items{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 8rem;
    margin: 5rem 2rem;
}

.sops-box{
    display: flex;
    justify-content: space-between;
    
}
.sops-box i{
    margin-right: 1.5rem;
    color: var(--primary);
    
}
.sop-title{
    font-size: 2.5rem;
    font-weight: 400;
}
.sop-note{
    font-size: 1.6rem;
    font-weight: 300;
    /* color: #aaaaaa; */
    height: 2rem;
    padding-top: 1rem;

}

.states{
    width: 30%;
    /* height: 15rem; */
    background-color: #353739;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.states h2{
    color: var(--primary);
    font-size: 3rem;
}

.states p{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 4rem;
}
.states-items{
    display: flex;
    justify-content: space-around;
}
.state-box{
    height: 4rem;
    text-align: center;
    margin-top: 5rem;
}
.state-box h3{
    color: #fff;
    font-size: 4rem;
}
.state-box p{
    color: #fff;
    margin-top: 0rem;
}
.state-btn{
    margin-top: 6rem;
}


@media screen and (max-width: 750px) {
    .safety-wrap {
      flex-direction: column;
      flex-wrap: wrap;
    }
    .sops{
        width: 100%;
        text-align: left;
    }
    .states{
        width: 100%;
    }
  }





  
/*--------------------------------------------------------------
# price-plan
--------------------------------------------------------------*/
.price-plans{
    display: grid;
    grid-template-columns: auto auto auto;
    /* column-gap: .2rem; */
    align-items: center;
    margin: 15rem  0;
}
.price-plan{
    height: 100%;
    background-color: #F9F9F9;
    padding-top: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}
.price-plan:hover{
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.18);

}
.price-plan.active{
    height: 120%;
z-index: 1;
    background-color: var(--primary);

}

.plan-title{
    /* color: #fff; */
    font-size: 3rem;
    font-weight: 400;
}
.plan-note{
    /* color: #fff; */
    margin: 2rem 0;

}

.plan-points{
    margin: 3rem 0;
}

.point{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 5rem;
    padding: 1rem 0;
    border-bottom: #353739 1px dotted;
}
.point i{
    margin-right: 1rem;
    color: var(--primary);
}
.price-plan.active .point i{
    color: #fff;
}
.point p{
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.plan-btn {
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    width: 20rem;
  }
.plan-btn:hover{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: var(--primary);
    border: 2px solid #fff;

}
.plan-btn:focus {
    /* border: 2px #fff solid; */
  
    transform: scale(0.95);
  }
